<!DOCTYPE html>
<html lang="no" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    {% if graphicGlobal is defined%}
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{graphicGlobal.favicon.one().getUrl()}}"
    />
    {% endif %}
    {{asset("scss/main.scss")}}
    {{asset("js/index.js")}}
  </head>
  <body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <main>
      {% block main %}
      <h1>Hello world</h1>
      {% endblock %}
    </main>

    <footer>
      {% include 'partials/_footer.twig' %}
    </footer>
  </body>
</html>
